div, img {
  margin: 10px;
}
.square {
  width: 100px;
  height: 50;
}
.target {
  clear: both;
  border: dashed 4px #888;
  padding: 10px;
  min-height: 50px;
  margin: 10px;
  position: relative;
  /*width:70%;*/
}
.target .name {

}
.target.dragover {
  border: solid 4px #F00;
  background-color: #FBB;
}

.blue {
  background-color: #00F;
}
.red {
  background-color: #F00;
}



.name, .food {
  float: left;
  border: solid 1px #00F;
  padding: 3px;
}

.food {
  border: solid 1px #0F0;
}

.target.names.dragover {
  border: solid 4px #00F;
  background-color: #BBF;
}
.target.foods.dragover {
  border: solid 4px #0F0;
  background-color: #BFB;
}


.indicator {
  position: absolute;
  background-color: #BBF;
  width: 100px;
  padding: 10px;
  left: -30px;
}

.dropIndicator {
  Visibility: hidden;
  background-color: #FBB;
  padding: 10px;
  position: absolute;
  right: 0px;
}

.name.dragging {
  opacity: 0.3;
  border: dotted 1px #00F;
}

.target.images {
  height: 100px;
}

.target.images > img {
  width: 100px;
  /*float: left;*/
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
}

/* ----- result table ----- */

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: table;
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}
.row.header {
    font-weight: 900;
    color: #fff;
    background: #ea6153;
}

.row.green {
    background: #27ae60;
}

.row.blue {
    background: #2980b9;
}

.cell {
padding: 6px 12px;
display: table-cell;
}


